@font-face {
  font-family: Symbola;
  src: url(../node_modules/mathquill/font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"), url(font/Symbola.woff2) format("woff2"), url(font/Symbola.woff) format("woff"), url(font/Symbola.ttf) format("truetype"), url(font/Symbola.otf) format("opentype"), url(font/Symbola.svg#Symbola) format("svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvasCont {
  width: 100vw;
  height: calc(100vh - 120px);
}

.canvas {
  object-fit: contain;
}

.functionInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #0d0221;
  position: fixed;
  width: 60vw;
  height: 60vh;
}

.function {
  display: inline-flex;
  padding: 2rem;
  font-size: 1.5rem;
}

.controls {
  color: #0d0221;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}


.answerCont {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#function {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-family: "Symbola Regular";
}

.zoomButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoomButtons>div {
  margin: .5rem;
  cursor: pointer;
}