@font-face {
  font-family: Symbola;
  src: url(../node_modules/mathquill/build//font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"), url(../node_modules/mathquill/build/font/Symbola.woff2) format("woff2"), url(../node_modules/mathquill/build/font/Symbola.woff) format("woff"), url(../node_modules/mathquill/build/font/Symbola.ttf) format("truetype"), url(../node_modules/mathquill/build/font/Symbola.otf) format("opentype"), url(../node_modules/mathquill/build/font/Symbola.svg#Symbola) format("svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Light */
  /*--base: #eff1f5;
  --foreground: #4c4f69;
  --blue: #1e66f5;
  --red: #d20f39;
  --pink: #ea76cb;
  --purple: #8839ef;
  --green: #40a02b;
  --sky: #04a5e5; */

  /* Dark */
  --base: #24273a;
  --foreground: #cad3f5;
  --blue: #8aadf4;
  --red: #ed8796;
  --pink: #f5bde6;
  --purple: #c6a0f6;
  --green: #a6da95;
  --sky: #91d7e3;
}

.canvasCont {
  width: 100%;
  height: 100%;
}

.canvas {
  object-fit: contain;
}

.functionInput {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--base);
  color: var(--foreground);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--foreground);
  position: fixed;
  width: 60vw;
  height: 60vh;
  grid-template-columns: 1fr 10fr;
}

.function {
  display: flex;
  align-items: center;
  justify-content: left;
}

.functionLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#function {
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-family: "Symbola Regular";
}

.zoomButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoomButtons>div {
  margin: .5rem;
  cursor: pointer;
}