*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    min-height: 100vh;
}

.container {
    height: 100vh;
    justify-content: center;
    background-color: #fff;
}

#mainCalc {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#mainCalcInput {
    /* caret-color: transparent; */
    text-align: right;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 0.2rem solid #0d0221;
    padding-right: 1rem;
    padding-left: 1rem;
    outline: none;
    font-size: 8rem;
    color: #0d0221;
}

.resultCont {
    display: flex;
    justify-content: right;
}

#result {
    font-size: 2rem;
    padding: 3rem;
}