*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    /* Light */
    --base: #eff1f5;
    --foreground: #4c4f69;
    --blue: #1e66f5;
    --red: #d20f39;
    --pink: #ea76cb;
    --purple: #8839ef;
    --green: #40a02b;
    --sky: #04a5e5;

    /* Dark */
    /* --base: #24273a;
    --foreground: #cad3f5;
    --blue: #8aadf4;
    --red: #ed8796;
    --pink: #f5bde6;
    --purple: #c6a0f6;
    --green: #a6da95;
    --sky: #91d7e3; */   
}



html {
    line-height: 1;
    box-sizing: border-box;
}

body {
    background-color: var(--base);
    min-height: 100vh;
    font-family: "Trebuchet MS";
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.graphWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.calculatorWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: var(--base);
    display: flex;
    flex-direction: column;
}

.answerCont {
    border-top: 2px solid var(--foreground);
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-self: flex-end;
}

.resultCont {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    margin-top: 0rem;
    overflow-y: auto;
}

.resultInput {
    text-align: right;
    /* border-bottom: solid 2px #26252D; */
}

.result {
    border-top: dashed 2px var(--foreground);
    /* margin-top: auto; */
    padding: 1rem;
    font-family: "Helvetica";
    font-size: 2rem;
    color: var(--foreground);
}

.result:nth-child(1) {
    border: none;
}
