*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    min-height: 100vh;
    font-family: "Trebuchet MS";
}

.container {
    height: 100vh;
    justify-content: center;
    background-color: #fff;
}

.answerCont {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.resultCont {
    display: flex;
    justify-content: left;
    margin: 2rem;
    margin-top: 0rem;
}

#result {
    padding: 2rem;
    font-family: "Helvetica";
    font-size: 2rem;
    color: #26252D;
}

a {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    transform: translateY(50vh);
    padding-top: 20vh;
    opacity: 0;

}